/**
* carousel.css
*
* Original:http://tympanus.net/codrops/2011/08/16/circular-content-carousel/
* Thanks Codrops!
* Works in OJS 2.4.6 with this theme
* July 2015
*/

.ca-container{
    position:relative;
    margin:25px auto 20px auto;
    width:100%;
    height:800px;
    clear:both;
}

.ca-wrapper{
    width:100%;
    height:100%;
    position:relative;
}

.ca-item{
    position:relative;
    float:left;
    width:50%;
    height:100%;
    text-align:center;
}

.ca-more{
    float:left;        
    width:100%;
    margin-top: 20px;
    font-size: 24px;
    text-align:center;   
}

.ca-close{
    position:absolute;
    top:-5px;
    left:45%;
    font-size: 20px;  
    outline:none;
}

.ca-item-main{
    padding:10px;
    position:absolute;
    top:5px;
    left:5px;
    right:5px;
    bottom:5px;
    background:#555;
    overflow:hidden;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    box-shadow:4px 0px 2px rgba(0,0,0,0.2);
}

.ca-icon{padding-top:40px;
    width:130px;
    height:240px;
    position:relative;
    margin:0 auto;
}

.ca-icon img {
    max-width:130px;
}

.ca-item h3{
    font-family: 'Roboto Condensed',Arial,Helvetica,sans-serif;
    text-transform:uppercase;
    font-size:22px;
    color:#1a1a1a;
    margin-bottom:0px;
    text-align:center;
    float:left;width:100%;

}

.ca-item h4{
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-style:italic;
    font-size:12px;
    text-align:left;
    border-left:10px solid #b0ccc6;
    padding-left:10px;
    line-height:24px;
    margin:10px;
    position:relative;
}

.ca-item h4 span{
    text-indent:40px;
    display:block;
}

.ca-item h4  span.ca-quote{
    color:#f4eee3;
    font-size:100px;
    position:absolute;
    top:20px;
    left:0px;
    text-indent:0px;
}
.ca-content-wrapper{
    background:#555;
    position:absolute;
    width:0px; /* expands to width of the wrapper minus 1 element */
    height:790px;
    top:5px;
    text-align:left;
    z-index:2;
    overflow:hidden;
}
.ca-content{
    width:50%;
    overflow:hidden;
    padding-top:0px;
}

.ca-content-text{
    font-size: 11px;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    margin:0px;
    padding:10px;
    line-height:1.5em;
    color:#e8e8e8;
}

.ca-content-text p{
    padding-bottom:5px;
}

.ca-content h6{
    margin:25px 0px 0px 10px;
    font-size:22px;
    padding-bottom:5px;
    color:#000;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    color:#000;
    line-height:1em;
    text-align:left;
}

.ca-issue-title {
    padding: 5px 10px;
    background: #666;
    font-weight: bold;
    text-transform: uppercase;
}

.ca-article-title {
    border-top:1px solid #444;padding-top: 10px;
}

.ca-content > .ca-content-text p:nth-child(2) {
    border-top:0px!important;padding-top: 0px;
}

.ca-content ul{
    margin:10px -20px;
    height:30px;
}

.ca-content ul li{
    float:rleft;
    margin:0px 2px; list-style-type:none;
}

.ca-content ul li a{
    color:#999;
    background:#555;
    padding:3px 6px;
    font-size:14px;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
}

.ca-content ul li a:hover{
    background:#666;
    color:#e8e8e8;
    text-decoration:none;
}

.ca-nav span{
    width:25px;
    height:38px;
    position:absolute;
    top:50%;
    margin-top:-19px;
    left:-40px;
    text-indent:-9000px;
    opacity:0.7;
    cursor:pointer;
    z-index:100;
}
.ca-nav span.ca-nav-next{
    background-position:top right;
    left:auto;
    right:-40px;
}
.ca-nav span:hover{
    opacity:1.0;
}
/*
* CSS Styles that are needed by jScrollPane for it to operate correctly.
*
* Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
* may not operate correctly without them.
*/

.jspContainer
{
    overflow: hidden;
    position: relative;
}

.jspPane
{
    position: absolute;
}

.jspVerticalBar
{
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: #fff;

}

.jspHorizontalBar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: #fff;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
    margin: 0;
    padding: 0;
}

.jspCap
{
    display: none;
}

.jspHorizontalBar .jspCap
{
    float: left;
}

.jspTrack
{
    background: #fff;
    position: relative;
}

.jspDrag
{
    background: #000;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
    float: left;
    height: 100%;
}

.jspArrow
{
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
}

.jspArrow.jspDisabled
{
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow
{
    height: 10px;
}

.jspHorizontalBar .jspArrow
{
    width: 10px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
    outline: none;
}

.jspCorner
{
    background: #eeeef4;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
    margin: 0 -3px 0 0;
}
